@import "../../../scss/settings";

.transaction {
  padding: 10px 0;
  cursor: pointer;
  border-left: 3px solid;

  &:hover {
    background-color: $smoke;
  }

  &:focus {
    outline: none;
  }
}

hr.double-line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  height: 4px;
}
