<nav class="navbar navbar-dark bg-dark fixed-top">
  <h1 class="navbar-brand">
    GlanceAction
  </h1>
  <form class="form-inline">
    <div class="input-group">
      <input type="search" placeholder="Search transactions" class="form-control" id="searchbox" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
      <div class="input-group-append">
        <button type="reset" class="btn btn-secondary" (click)="searchTerm=''">
          <span class="oi oi-x"></span>
        </button>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary" (click)="createTransaction()">
    <span class="oi oi-plus"></span>
  </button>
</nav>

<!-- TODO Account information header -->

<div>
  <div *ngFor="let t of (g.transactions | searchFilter:searchTerm)" class="row transaction" (click)="editTransaction(t)">
  <span class="col-2 col-lg-1">
    {{ t.timestamp | date:'MMM d' }}
    <br>
    {{ t.timestamp | date:'HH:mm' }}
  </span>
    <span class="col-2">
    {{ t.account | accountName }}
  </span>
    <span class="col">
    {{ t.notes }}
  </span>
    <span class="col-1">
      <br>
    {{ t.amount | currency:'EUR' }}
  </span>
  </div>
</div>
<!-- TODO Sum -->
